.contacts {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $mobile-width-max) {
    margin-top: 30px;
  }
}

.contacts h3 {
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;

  @media (max-width: $tablet-width-max) {
    margin-left: 30px;
  }
}

.contacts a {
  color: #fe7865;
}

.contacts__mail {
  position: relative;
  margin-left: 40px;

  @media (max-width: $tablet-width-max) {
    transform: translateX(31px);
  }

  @media (max-width: $mobile-width-max) {
    flex-direction: column;
    margin-left: 0;
    margin-top: 7px;
  }
}

.contacts__mail::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 26px;
  height: 20px;
  background: url("../img/mail-icon.svg");
}

.contacts__phone {
  padding-left: 34px;
  padding-top: 20px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;

  @media (max-width: $tablet-width-max) {
    margin-left: 37px;
  }

  @media (max-width: $mobile-width-max) {
    margin-top: 4px;
    margin-left: 0;
  }
}
