.countries-desc__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  padding-bottom: 10px;
  margin-left: 97px;
  border-bottom: 1px solid rgba(44, 46, 63, 0.3);

  @media (max-width: $mobile-width-max) {
    margin-left: -24px;
  }
}

.countries-desc__list-item {
  line-height: 24px;
  font-size: 20px;
  font-weight: 500;
  color: #2c2e3f;
  opacity: 0.3;
  margin-right: 77px;

  @media (max-width: $mobile-width-max) { //временный отступ до готовности свайпа
    margin-right: 10px;
  }
}

.countries-desc__list-item--active {
  color: #fe7865;
  opacity: 1;
}

.countries-desc__item h2 {
  position: relative;
  line-height: 90px;
  font-size: 55px;
  font-weight: 600;

  @media (max-width: $tablet-width-max) {
    line-height: 45px;
    font-size: 30px;
    font-weight: 600;
  }

  @media (max-width: $mobile-width-max) {
    line-height: 36px;
    font-size: 24px;
    font-weight: 600;
  }
}

.countries-desc__item {
  display: flex;
  flex-direction: row;
  margin-left: 9%;
  margin-top: 29px;

  @media (max-width: $tablet-width-max) {
    flex-direction: column;
    margin-left: 0;
    margin-top: -5px;
  }
}

.countries-desc__item-wrapper {
  @media (max-width: $tablet-width-max) {
    text-align: center;
    margin-bottom: 35px;
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 60px;
  }
}

.countries-desc__item-wrapper p {
  width: 387px;
  line-height: 28px;
  font-size: 16px;
  font-weight: 400;
  color: #2c2e3fb2;
  opacity: 0.7;

  @media (max-width: $tablet-width-max) {
    width: 726px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: $mobile-width-max) {
    width: 295px;
  }
}

.countries-desc__item h2::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 104px;
  width: 176px;
  height: 2px;
  background-color: #fe7865;

  @media (max-width: $tablet-width-max) {
    display: none;
  }
}

.countries-desc__item-wrapper-button {
  background-color: #fe7865;
  color: white;
  width: 250px;
  height: 75px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: none;
  line-height: 15px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 6px;
  margin-top: 32px;

  @media (max-width: $tablet-width-max) {
    line-height: 12px;
    font-size: 10px;
    font-weight: 500;
    height: 50px;
    padding-left: 52px;
    padding-right: 52px;
    padding-top: 19px;
    padding-bottom: 19px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: $mobile-width-max) {
    width: 288px;
    padding-left: 72px;
    padding-right: 72px;
  }
}

.countries-desc__item-wrapper-button:hover {
  cursor: pointer;
  background-color: #f17d4b;
}

.countries-desc__item-wrapper-button:active {
  @media (max-width: $tablet-width-max) {
    background-color: #f17d4b;
  }
}

.countries-desc__reviews {
  position: absolute;
  top: 34%;
  right: 2%;
  width: 344px;
  height: 367px;
  background-color: white;
  padding-left: 30px;

  @media (min-width: $desktop-width-max) {
    top: 19%;
    right: -55%;
  }

  @media (max-width: $tablet-width-max) {
    left: 50%;
    transform: translateX(-50%);
    top: 19%;
  }

  @media (max-width: $mobile-width-max) {
    width: 268px;
    text-align: center;
    padding-left: 0;
    top: 12%;
  }
}

.countries-desc__reviews-text {
  line-height: 28px;
  font-size: 14px;
  font-weight: 400;
  color: #2c2e3fb2;
  opacity: 0.7;

  @media (max-width: $mobile-width-max) {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 31px;
  }
}

.countries-desc__reviews h3 {
  position: relative;
  line-height: 37px;
  font-size: 30px;
  font-weight: 500;

  @media (max-width: $mobile-width-max) {
    line-height: 25px;
    font-size: 20px;
    margin-top: 29px;
  }
}

.countries-desc__reviews h3::after {
  content: "";
  position: absolute;
  left: 1px;
  top: 45px;
  width: 68px;
  height: 2px;
  background-color: #fe7865;

  @media (max-width: $mobile-width-max) {
    left: 100px;
    top: 35px;
  }
}

.countries-desc__reviews-author {
  display: flex;
  flex-direction: row;
  margin-top: 33px;

  @media (max-width: $mobile-width-max) {
    flex-direction: column;
    margin-top: 16px;
  }
}

.countries-desc__reviews-author img {
  width: 38px;
  height: 38px;

  @media (max-width: $mobile-width-max) {
    margin-left: auto;
    margin-right: auto;
  }
}

.countries-desc__reviews-author-name {
  line-height: 19px;
  font-size: 16px;
  font-weight: 500;
  margin-left: 14px;
  margin-top: 11px;
}

.countries-desc__item-wrapper-img {
  @media (max-width: $tablet-width-max) {
    width: 100%;
    min-width: 768px;
    height: 415px;
    margin-left: -21px;
    margin-right: -21px;
  }

  @media (max-width: $mobile-width-max) {
    min-width: 320px;
    margin-left: 0;
    margin-right: 0;
  }
}

.countries-desc__position {
  position: relative;
  margin-left: 87px;
  margin-top: 35px;

  @media (max-width: $tablet-width-max) {
    margin-left: 0;
    margin-top: -4px;
  }
}


// временно отключает лишнее
.element-none {
  display: none;
}
