.features {
  width: 320px;
  position: relative;

  @media (max-width: $tablet-width-max) {
    text-align: center;
    grid-column: 1/ -1;
    width: auto;
    margin-top: 27px;
  }

  @media (max-width: $mobile-width-max) {
    margin-left: auto;
    margin-right: auto;
  }
}

.features::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 28px;
  width: 1px;
  height: 176px;
  background-color: #d7d9df;

  @media (min-width: $desktop-width-max) {
    left: -42px;
  }

  @media (max-width: $tablet-width-max) {
    width: 726px;
    height: 1px;
    left: -10px;
    top: -11px;
  }

  @media (max-width: $mobile-width-max) {
    width: 288px;
    left: -6px;
    top: -8px;
  }
}


.features p {
  color: #2c2e3f;
  opacity: 50%;
  line-height: 24px;
  font-size: 14px;
  font-weight: 400;

  @media (max-width: $tablet-width-max) {
    width: 695px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: $mobile-width-max) {
    width: 287px;
  }
}

.features h3 {
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
}
