.nav__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 41px;
  margin-left: -253px;

  @media (max-width: $tablet-width-max) {
    flex-direction: column;
    width: 320px;
    background-color: white;
    margin-top: 0;
    padding-top: 84px;
    padding-bottom: 90px;
    position: absolute;
    right: -3%;
  }

  @media (max-width: $mobile-width-max) {
    width: 100%;
    right: 0;
  }
}

.nav__list a {
  border: none;
  text-transform: none;
  text-decoration: none;
  color: black;
  display: block;

  @media (max-width: $tablet-width-max) {
    font-size: 20px;
    line-height: 140%;
    font-weight: 600;
  }

  @media (max-width: $mobile-width-max) {
    position: relative;
    display: block;
  }
}

.nav__item {
  margin-right: 44px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;

  @media (max-width: $tablet-width-max) {
    margin-right: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.nav__item:hover a {
  color: #fe7865;

  @media (max-width: $tablet-width-max) {
    color: inherit;
  }
}

.nav__toggle {
  display: none;

  @media (max-width: $tablet-width-max) {
    position: absolute;
    top: 0;
    right: -21px;
    z-index: 2;
    display: block;
    width: 72px;
    height: 50px;
    cursor: pointer;
    border: none;
    background-color: #fe7865;
  }

  @media (max-width: $mobile-width-max) {
    width: 50px;
    right: 0;
  }
}

.nav--closed .nav__toggle::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 25px;
  width: 22px;
  height: 1px;
  background-color: #ffffff;
  box-shadow: 0 7px 0 0 #ffffff, 0 13px 0 0 #ffffff;

  @media (max-width: $mobile-width-max) {
    top: 17px;
    left: 15px;
  }
}


.nav--closed .nav__item {
  @media (max-width: $tablet-width-max) {
    display: none;
  }
}

.nav--opened .nav__toggle {
  @media (max-width: $tablet-width-max) {
    top: 0;
    right: 0;
    background-color: white;
    width: 320px;
    height: 51px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 22px;
      right: -14px;
      width: 36px;
      height: 1px;
      background-color: #141517;
      opacity: 0.2;

      @media (max-width: $tablet-width-max) {
        right: 0;
      }
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.nav--nojs .nav__toggle {
  display: none;
}

.nav--nojs .nav__item {
  display: block;
}

.nav--opened .nav__item {
  @media (max-width: $tablet-width-max) {
    position: relative;
    background-color: #fbf8f8;
    padding-left: 14px;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-bottom: 28px;
  }
}

.nav--opened .nav__item::after {
  @media (max-width: $tablet-width-max) {
    content: "";
    position: absolute;
    right: 24px;
    top: 25px;
    width: 8px;
    height: 12px;
    background: url("../img/arrow-right.svg");
  }
}

.nav__phone {
  position: relative;
  line-height: 32px;
  font-size: 18px;
  font-weight: 400;
  text-decoration: underline;
  margin-left: 10%;
  margin-top: -5px;

  @media (max-width: $tablet-width-max) {
    display: none;
  }
}

.nav__phone::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 30px;
  height: 30px;
  background: url("../img/phone-icon.svg");
}

.nav--closed .nav__list {
  background-color: transparent;
}

.nav--opened {
  z-index: 2;
}

.nav__wrapper {
  position: relative;
}
