.page-header__container {
  position: relative;
  height: 101px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 36%;

  @media (min-width: $desktop-width-max) {
    gap: 46%;
  }

  @media (max-width: $tablet-width-max) {
    height: 51px;
    gap: 0;
    grid-template-columns: none;
  }
}

.page-header--no-js {
  @media (max-width: $tablet-width-max) {
    margin-bottom: 355px;
  }
}

.page-header__logo {
  display: block;
  padding-left: 136px;
  padding-top: 39px;

  @media (max-width: $tablet-width-max) {
    padding-left: 3px;
    padding-top: 16px;
  }

  @media (max-width: $mobile-width-max) {
    padding-left: 15px;
    padding-top: 16px;
  }
}

.page-header__logo img {
  @media (max-width: $tablet-width-max) {
    width: 44px;
    height: 17px;
  }
}
