.page-header__container {
  position: relative;
  height: 101px;
  display: grid;
  grid-template-columns: 147px auto;
  gap: 41%;

  @media (max-width: $tablet-width-max) {
    height: 51px;
    gap: 0;
    grid-template-columns: none;
  }
}

.page-header__logo {
  display: block;
  padding-left: 136px;
  padding-top: 39px;

  @media (max-width: $tablet-width-max) {
    padding-left: 3px;
    padding-top: 16px;
  }
}
