.popup {
  background-color: #fbf8f8;
  width: 728px;
  display: none;
  grid-template-columns: repeat(2, 1fr);
  border: 0;
  padding: 0;
  position: fixed;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;

  @media (max-width: $mobile-width-max) {
    width: 320px;
    background-color: white;
    margin-left: 0;
  }
}

.popup-show {
  display: grid;
}

.popup img {
  @media (max-width: $mobile-width-max) {
    display: none;
  }
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  margin-left: -30px;

  @media (max-width: $mobile-width-max) {
    margin-left: 0;
    width: 320px;
  }
}

.popup__wrapper-button {
  background-color: #fe7865;
  color: white;
  width: 176px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 19px;
  padding-bottom: 19px;
  border: none;
  line-height: 15px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: -7px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;

  @media (max-width: $mobile-width-max) {
    width: 288px;
    padding-left: 90px;
    padding-right: 90px;
    margin-bottom: 185px;
  }
}

.popup__wrapper-button:hover {
  background-color: #f17d4b;
}

.popup__wrapper-button:active {
  @media (max-width: $tablet-width-max) {
    background-color: #f17d4b;
  }
}

.popup__wrapper-button-close {
  position: absolute;
  display: block;
  width: 28px;
  height: 28px;
  cursor: pointer;
  border: 0;
  top: 5px;
  right: 5px;
  background-color: transparent;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 12px;
    right: 0;
    width: 28px;
    height: 1px;
    background-color: #141517;
    opacity: 0.2;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  @media (max-width: $mobile-width-max) {
    top: 17px;
    right: 16px;
  }
}

.popup__wrapper input {
  border: 1px solid rgba(44, 46, 63, 0.3);
  width: 250px;
  height: 50px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  @media (max-width: $mobile-width-max) {
    width: 270px;
  }
}

.popup__wrapper h3 {
  line-height: 42px;
  font-size: 25px;
  font-weight: 600;
  margin-top: 73px;
  margin-bottom: 49px;

  @media (max-width: $mobile-width-max) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }
}
