.preview {
  background-image: url("../img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: -375px;
  margin-right: -375px;

  @media (max-width: $tablet-width-max) {
    background-image: url("../img/background-tablet.png");
    background-size: 100% 90%;
    background-repeat: no-repeat;
    margin-left: -21px;
    margin-right: -21px;
  }

  @media (max-width: $mobile-width-max) {
    background-image: url("../img/background-mobile.png");
    background-size: 100% 55%;
    background-repeat: no-repeat;
    margin-left: -16px;
    margin-right: -16px;
  }
}

.preview__wrapper {
  color: white;
  width: 396px;
  padding-left: 56%;
  padding-top: 140px;
  padding-bottom: 298px;

  @media (max-width: $tablet-width-max) {
    width: 56%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
    padding-left: 0;
    padding-top: 36px;
    padding-bottom: 106px;
  }

  @media (max-width: $mobile-width-max) {
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 116px;
    padding-top: 25px;
  }
}

.preview__header {
  line-height: 80px;
  font-size: 55px;
  font-weight: 600;

  @media (max-width: $tablet-width-max) {
    line-height: 45px;
    font-size: 30px;
    font-weight: 600;
  }

  @media (max-width: $mobile-width-max) {
    line-height: 36px;
    font-size: 24px;
    font-weight: 600;
    transform: translateY(38px);
  }
}

.preview__desc {
  line-height: 27px;
  font-size: 16px;
  font-weight: 400;

  @media (max-width: $mobile-width-max) {
    color: black;
  }
}

.preview__button {
  background-color: #fe7865;
  padding-left: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 179px;
  width: 340px;
  height: 75px;
  border: none;
  position: relative;

  @media (max-width: $tablet-width-max) {
    width: 250px;
    height: 50px;
    padding-left: 40px;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-right: 107px;
  }

  @media (max-width: $mobile-width-max) {
    width: 288px;
    height: 50px;
    padding-left: 40px;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-right: 145px;
  }
}

.preview__button a {
  line-height: 15px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}

.preview__button::before {
  content: "";
  width: 14px;
  height: 14px;
  background: url("../img/arrow-bottom.svg");
  position: absolute;
  top: 20px;
  right: 43px;
}

.preview__button:hover {
  cursor: pointer;
}

.preview__container {
  @media (max-width: $mobile-width-max) {
    transform: translateY(120px);
  }
}
