.tariffs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  margin-top: 229px;
  margin-left: 8%;

  @media (max-width: $tablet-width-max) {
    margin-left: 0;
    margin-top: 20px;
  }

  @media (min-width: $desktop-width-max) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: $mobile-width-max) {
    grid-template-columns: 1fr;
  }
}

.tariffs__wrapper {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  column-gap: 30px;

  @media (max-width: $tablet-width-max) {
    order: 2;
    margin-left: auto;
    margin-right: auto;
    margin-top: 34px;
    column-gap: 46px;
    grid-column: 1 / -1;
  }

  @media (max-width: $mobile-width-max) {
    flex-direction: column;
    row-gap: 27px;
  }
}

.tariffs__complex,
.tariffs__econom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(44, 46, 63, 0.3);
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  width: 370px;
  padding: 0;

  @media (max-width: $tablet-width-max) {
    width: 288px;
    text-align: center;
  }
}

.tariffs__complex:hover,
.tariffs__econom:hover {
  border: 1px solid #fe7865;
}

.tariffs__complex a,
.tariffs__econom a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
  background-color: #fe7865;
  width: 310px;
  font-weight: 700;
  line-height: 15px;
  font-size: 12px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  margin-top: 10px;

  @media (max-width: $tablet-width-max) {
    width: 100%;
    margin-bottom: 0;
    font-weight: 500;
    line-height: 12px;
    font-size: 10px;
    padding-top: 19px;
    padding-bottom: 19px;
  }

  @media (max-width: $mobile-width-max) {
    margin-top: 18px;
  }
}

.tariffs__complex a:hover,
.tariffs__econom a:hover {
  cursor: pointer;
  background-color: #f17d4b;
}

.tariffs__complex h3,
.tariffs__econom h3 {
  font-weight: 600;
  line-height: 34px;
  font-size: 28px;

  @media (max-width: $tablet-width-max) {
    font-size: 24px;
  }
}

.tariffs__complex:hover h3,
.tariffs__econom:hover h3 {
  color: #fe7865;
}

.tariffs__econom-price,
.tariffs__complex-price {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 12px;

  @media (max-width: $tablet-width-max) {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    margin-top: 6px;
  }
}

.tariffs__complex-price-number,
.tariffs__econom-price-number {
  font-weight: 700;
  line-height: 34px;
  font-size: 25px;

  @media (max-width: $tablet-width-max) {
    margin-top: -14px;
  }
}

.tariffs__complex:hover .tariffs__complex-price-number,
.tariffs__econom:hover .tariffs__econom-price-number {
  color: #fe7865;
}

.tariffs__complex-price-desc,
.tariffs__econom-price-desc {
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  width: 265px;

  @media (max-width: $tablet-width-max) {
    margin-left: auto;
    margin-right: auto;
    width: 260px;
    margin-top: -12px;
  }
}

.tariffs__econom-price-list,
.tariffs__complex-price-list {
  font-weight: 400;
  line-height: 32px;
  font-size: 16px;
  margin-top: 37px;
  margin-left: 22px;
  width: 236px;

  @media (max-width: $tablet-width-max) {
    margin-left: 10px;
    margin-top: 7px;
    width: 220px;
    text-align: left;
  }
}

.tariffs__econom-price-list li,
.tariffs__complex-price-list li {
  position: relative;
  margin-bottom: 13px;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 10px;
  }
}

.tariffs__econom-price-list li::before,
.tariffs__complex-price-list li::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 5px;
  width: 14px;
  height: 12px;
  background: url("../img/check.svg");
  background-repeat: no-repeat;
}

.tariffs__econom:hover li::before,
.tariffs__complex:hover li::before {
  background: url("../img/check-black.svg");
}

.tariffs__prices {
  grid-column: 1/ -1;
  margin-top: 55px;

  @media (min-width: $desktop-width-max) {
    width: 309px;
    margin-left: 58px;
    grid-column: auto;
  }

  @media (max-width: $tablet-width-max) {
    order: 1;
    margin-left: 0;
    width: 100%;
    text-align: center;
  }
}

.tariffs__prices h3 {
  position: relative;
  line-height: 90px;
  font-size: 55px;
  font-weight: 600;

  @media (max-width: $tablet-width-max) {
    line-height: 45px;
    font-size: 30px;
    font-weight: 600;
  }

  @media (max-width: $mobile-width-max) {
    line-height: 36px;
    font-size: 24px;
    font-weight: 600;
  }
}

.tariffs__prices h3::after {
  content: "";
  position: absolute;
  left: 1px;
  top: 104px;
  width: 176px;
  height: 2px;
  background-color: #fe7865;

  @media (max-width: $tablet-width-max) {
    display: none;
  }
}

.tariffs__prices-desc {
  line-height: 27px;
  font-size: 16px;
  font-weight: 400;
  color: #2c2e3f;
  opacity: 0.7;
  margin-top: -7px;

  @media (max-width: $mobile-width-max) {
    width: 268px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1px;
  }
}

.tariffs__prices-contacts {
  margin-left: 51px;
  margin-top: 56px;

  @media (max-width: $tablet-width-max) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 28px;
  }

  @media (max-width: $mobile-width-max) {
    margin-top: 17px;
  }
}

.tariffs__prices-contacts-desc {
  line-height: 34px;
  font-size: 22px;
  font-weight: 500;

  @media (max-width: $tablet-width-max) {
    font-size: 18px;
  }
}

.tariffs__prices-contacts a {
  text-decoration: none;
  color: #2c2e3f;
  line-height: 32px;
  font-size: 20px;
  font-weight: 400;

  @media (max-width: $tablet-width-max) {
    text-decoration: underline;
    color: #fe7865;
    font-size: 18px;
  }
}
