.travels {
  border-right: solid #d7d9df 1px;
  text-align: center;

  @media (max-width: $mobile-width-max) {
    border-bottom: solid #d7d9df 1px;
    border-right: none;
  }
}

.travels__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: $mobile-width-max) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.travels__list_grid {
  @media (max-width: $mobile-width-max) {
    grid-column: 1/ -1;
  }
}

.travels__list {
  padding-left: 0;
}

.travels__list a {
  text-decoration: none;
  color: black;
  opacity: 50%;
}
