.travels {
  text-align: center;

  @media (max-width: $tablet-width-max) {
    text-align: left;
  }

  @media (max-width: $mobile-width-max) {
    text-align: center;
  }
}

.travels__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 40px;
  margin-top: -14px;

  @media (min-width: $desktop-width-max) {
    margin-left: 102px;
  }

  @media (max-width: $tablet-width-max) {
    margin-left: 0;
  }

  @media (max-width: $mobile-width-max) {
    grid-template-columns: repeat(2, 1fr);
    margin-top: -12px;
  }
}

.travels__list_grid {
  @media (max-width: $mobile-width-max) {
    grid-column: 1/ -1;
  }
}

.travels__list {
  padding-left: 0;
}

.travels__list a {
  text-decoration: none;
  color: black;
  opacity: 50%;
}

.travels h3 {
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
  margin-left: 39px;

  @media (max-width: $tablet-width-max) {
    margin-left: 0;
  }
}
